/*
=============== 
Variables
===============
*/

:root {
	--clr-white: #fff;
	--clr-primary: rgb(248, 104, 88);
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Roboto', sans-serif;
	--spacing: 0.25rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	--border: 1px solid red;
	--clr-background: #E5E5E5;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-primary);
	line-height: 1.5;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	display: block;
}
h1,
h2,
h3,
h4,
p {
	text-transform: capitalize;
}

/*  
===============
global classes
===============
*/

.btn {
	padding: 0.75rem 2.5rem;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: var(--radius);
	margin-bottom: 2rem;
	background: linear-gradient(45deg, var(--clr-primary), var(--clr-primary));
	color: var(--clr-white);
	font-size: 0.9rem;
	text-transform: capitalize;
	font-weight: normal;
}
.section-center{
	width: 80vw;
	margin: 0 auto;
	max-width: 1170px;
	min-height: auto;
	border-radius: 10px;
	padding: 2rem;
	margin-top: 1rem;
}
.section-title{
	color: #562EFF;
	padding-bottom: 1rem;
}
/*  
===============
Navbar
===============
*/
.navbar{
	width: 100%;
	/* background: #562EFF; */
	/* box-shadow: var(--dark-shadow); */
}
.nav-center{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.nav-header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-header > p{
  font-weight: 500;
  font-size: 1.2rem;
}
.nav-links{
  display: grid;
  grid-template-columns: 1fr repeat(5, auto);
}
.nav-link{
  margin-right: 1.5rem;
  display: none;
  color: black;
}
.nav-icon{
	background: transparent;
	border: transparent;
	font-size: 1.5rem;
	cursor: pointer;
}
@media screen and (min-width: 768px) {
	.nav-header > i{
    display: none;
  }
  .nav-link{
    display: inline-block;
  }
  .nav-header{
    justify-items: end;
  }
}
/*  
===============
End of Navbar
===============
*/
