/*
=============== 
Variables
===============
*/

:root {
	--clr-white: #fff;
	--clr-primary: rgb(248, 104, 88);
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Roboto', sans-serif;
	--spacing: 0.25rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	--border: 1px solid red;
	--clr-background: #E5E5E5;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-primary);
	line-height: 1.5;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	width: 100%;
	display: block;
}
h1,
h2,
h3,
h4,
p {
	text-transform: capitalize;
}

/*  
===============
global classes
===============
*/

.btn {
	padding: 0.75rem 2.5rem;
	display: inline-block;
	border: 2px solid transparent;
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	background: #E02C6D;
	color: var(--clr-white);
	font-size: 1rem;
	text-transform: capitalize;
	font-weight: 500;
}
.section-center{
	width: 100%;
	margin: 0 auto;
	max-width: 1170px;
	min-height: auto;
	border-radius: 10px;
	padding: 2rem;
}
.section-title{
	color: #562EFF;
	padding-bottom: 1rem;
}
/*  
===============
Navbar
===============
*/
.navbar{
	width: 100%;
	/* background: #562EFF; */
	/* box-shadow: var(--dark-shadow); */
}
.nav-center{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.nav-header{
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-header > p{
  font-weight: 500;
  font-size: 1.2rem;
}
.nav-links{
  display: grid;
  grid-template-columns: 1fr repeat(5, auto);
}
.nav-link{
  margin-right: 1.5rem;
  display: none;
  color: black;
}
.nav-icon{
	background: transparent;
	border: transparent;
	font-size: 1.5rem;
	cursor: pointer;
}
@media screen and (min-width: 768px) {
	.nav-header > i{
    display: none;
  }
  .nav-link{
    display: inline-block;
  }
  .nav-header{
    justify-items: end;
  }
}
/*  
===============
End of Navbar
===============
*/

/*  
===============
Banner Section
===============
*/
.banner-container{
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 1rem;
}
.banner-info h1, .banner-info p{
	margin-bottom: 1rem;
}
.btn-prebook i{
	margin-left: 0.75rem;
}
@media screen and (min-width: 768px) {
  .banner-container{
		grid-template-columns: 1fr 1fr;
		row-gap: 0;
		column-gap: 5rem;
		align-items: center;
	}
	.banner-info{
		order: -1;
	}
}
@media screen and (min-width: 992px) {
  .banner-info h1{
		font-size: 2.25rem;
	}
	.banner-info h1, .banner-info p{
		margin-bottom: 1.5rem;
	}
}
@media screen and (min-width: 1170px) {
  .banner-info h1{
		font-size: 2.5rem;
	}
}
/*  
======================
End of Banner Section
======================
*/

/*  
=============
Company Logo
=============
*/
.logo{
	width: 4rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.logo-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
@media screen and (min-width: 768px) {
  .logo{
		width: 4.5rem;
		margin-right: 1rem;
		margin-bottom: 0;
	}
	.logo-container{
		border-top: 1px solid rgb(199, 199, 199);
		border-bottom: 1px solid rgb(199, 199, 199);
		padding: 2rem 0;
		
	}
}
@media screen and (min-width: 992px) {
  .logo{
		width: 5.5rem;
		margin-right: 1.90rem;
	}
}
@media screen and (min-width: 1170px) {
  .logo{
		width: 6rem;
		margin-right: 2.5rem;
	}
}
/*  
====================
End of Company Logo
====================
*/

/*  
====================
Popular Collection
====================
*/
.section-popular-collection{
	text-align: center;
}
.collection-container{
	text-align: start;
	margin: 2rem 0;
}
.single-item{
	padding: 1rem;
	box-shadow: var(--light-shadow);
	border-radius: 5px;
	margin-bottom: 1rem;
}
.item-info{
	margin-top: 1rem;
}
.item-info h2{
	font-weight: 500;
	margin-bottom: 0.5rem;
}
.item-info h3{
	font-weight: normal;
	margin-bottom: 0.5rem;
}
.item-rating-info{
	display: grid;
	grid-template-columns: auto 1fr;
	justify-items: start;
	align-items: center;
	font-size: 0.8rem;
}
.item-rating-number{
	font-size: 1rem;
	margin-left: 1rem;
}
.star-enable {
	color: #FFC014;
}
.star-disable {
	color: #AEAEAE;
}
.item-info p{
	color: gray;
}
.see-more{
	text-align: right;
	color: #E02C6D;
}
.see-more i{
	margin-left: 0.5rem;
}
@media screen and (min-width: 676px) {
  .single-item{
		margin-bottom: 0;
	}
	.collection-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}
}
@media screen and (min-width: 992px) {
	.collection-container{
		grid-template-columns: repeat(3, 1fr);
	}
}
/*  
=========================
End of Popular Collection
=========================
*/
